# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

dump.rdb

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/coverage

# Ignore secrets
config/database.yml
config/secrets.yml
config/sec_config.yml

.powrc
.powenv
.rvmrc
.ruby-gemset

# Vim
*.swp
