$fs-0: 11px;
$fs-1: 12px;
$fs-2: 13px;
$fs-3: 14px;
$fs-4: 16px;
$fs-5: 18px;
$fs-6: 20px;
$fs-7: 22px;
$fs-8: 24px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$white-color: #ffffff;
$dark-gray: #222222;
$text-active: #f5a122;
