<article class="ticket-description">
  <h2>
    {{ticket.remoteId}}
    <a target="_blank" href={{ticket.remoteUrl}}>
      <span class="glyphicon glyphicon-link">
      </span>
    </a>
  </h2>
</article>
{{commits-table commits=commits}}