connection: &connection
  adapter: postgresql
  encoding: unicode
  host:     localhost
  pool: 5
  username: review
  password:

development:
  <<: *connection
  database: review_development

test: &test
  <<: *connection
  database: review_test
