defaults: &defaults
  secret_key_base: false
  github:
    appkey:
    secret:
production:
  <<: *defaults
staging:
  <<: *defaults
beta:
  <<: *defaults
development:
  <<: *defaults
test:
  <<: *defaults
