development:
  secret_key_base: "paste_random_string"
  github_appkey: false
  github_secret: false
test:
  secret_key_base: "paste_another_random_string"
production:
  secret_key_base: <%= ENV["SECREET_KEY_BASE"] %>
