.commits-table {

  &__commit-info {
    float: left;
  }

  &__commit-message {
    margin-top: 4px;
    max-width: 500px;
  }

  &__commit-fixes {
    clear: right;
    width: 318px;
    margin-top: 10px;
  }

  &__commit-reviewer {
    float: left;
    margin-right: 15px;

    .reviewer-name {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }
}

.author-avatar {
  float: left;
  margin-right: 5px;

  .picture {
    width: 50px;
    height: auto;
  }
}
