.main-navbar {

  &__logout {
    padding: 0 15px;
  }

  .avatar {
    margin: 2px 20px 0 0;
    width: 40px;
    height: auto;
  }

  ul.nav.navbar-nav.navbar-left {

    a {
      display: inline;
      line-height: 50px;
      background-color: #222;

      &.active {
        color: #f5a122;
      }
    }
  }

  .active {

    #admin-dropdown {
      color: $text-active;
    }
  }

  .admin-dropdown {

    &__menu {
      background-color: $dark-gray
    }

    &__link {
      color: $white-color;
    }
  }
}
