.main-navbar {

  .avatar {
    height: 32px;
    width: auto;
    border-radius: 3px;
  }

  &__logout {
    margin-bottom: 0;
  }

  ul.nav.navbar-nav.navbar-left {

    a {
      display: inline;
      line-height: 50px;
      background-color: #222;

      &.active {
        color: #f5a122;
      }
    }
  }

  .active {

    #admin-dropdown {
      color: $text-active;
    }
  }

  .admin-dropdown {

    &__menu {
      background-color: $dark-gray
    }

    &__link {
      color: $white-color;
    }
  }
}
