/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'netguru-theme';

body { padding-top: 60px; }

input, textarea { width: auto; }

.ticket {
  display: inline-block;
  border: 1px black solid;
  margin-right: .3em;
  padding-right: .3em;
  background-color: white;
  position: relative;
}

.ticket .ticket-color {
  width: 8px;
  border-right: 1px black solid;
  position: absolute;
  top: 0;
  bottom: 0;
}

.ticket .ticket-id {
  margin-left: 12px;
  white-space: nowrap;
}

.ticket-description h2 a span{
  font-size: .5em;
  vertical-align: middle;
  margin-left: .5em;
}

.commit-action-buttons {
  button[disabled] {
    background-color: #999;
    border-color: #AAA;
    color: #111;
  }
}

.reviewer {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}
